.modal.show.d-block {
  overflow-x: hidden;
  overflow-y: auto;
}

.react-form-builder > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.modal-content {
  padding: 30px;
  max-height: 100vh;
  overflow-y: auto;
}

.react-form-builder {
  .react-form-builder-toolbar {
    position: relative;
    right: 60px;
    ul {
      max-height: 100vh;
      overflow-y: auto;
      li {
        &:hover,
        &:focus {
          background: #fdd935;
        }
      }
    }
  }
  .react-form-builder-preview {
    .Sortable .rfb-item.SortableItem {
      position: relative;
      box-shadow: 1px 5px 9px 1px #ccc;
      &:hover,
      &:focus {
        background: #fdd935;
        .badge-custom {
          border-radius: 0;
          border: 1px solid #777;
        }
      }
    }
    .badge-custom {
      border-radius: 0;
    }
    .edit-form {
      h4 {
        width: 98%;
        display: inline-block;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .custom-control.custom-checkbox {
        input {
          margin-right: 10px;
        }
      }
    }
  }
}

////==========================/ common styles /=====================================////
.react-datepicker {
  font-size: 1rem !important;
  width: 200px !important;
}
.react-datepicker__month-container {
  width: 100%;
}
.btn.is-isolated.btn-school {
  &:hover,
  &:focus {
    border: 2px solid #fdd935 !important;
    i {
      color: #111;
    }
  }
}
.custom-control.custom-checkbox,
.custom-control.custom-radio {
  input {
    margin-right: 10px;
  }
}
label.custom-label {
  position: relative;
  width: 100%;
  .badge {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.signature-canvas {
  width: 100%;
  border: 1px solid #eee;
  position: relative;
  canvas {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
  }
  i.clear-signature {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 29px;
    border: 1px solid #ddd;
    background: #eee;
    margin: 0 auto;
    padding: 7px;
    color: #888;
  }
}
.rdw-link-modal {
  height: 220px;
}
.rdw-image-modal {
  height: 220px;
  left: -50px;
  .rdw-image-modal-size {
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
    input.rdw-image-modal-size-input {
      display: inline-block;
      width: 70px;
      height: 20px;
    }
  }
}
.rdw-emoji-modal {
  left: -50px;
}
.rdw-embedded-modal {
  height: 200px;
}

.react-star-rating__root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  input {
    border: none;
    background: #fff;
    font-size: 2.2rem;
    padding: 0;
    margin-left: 40px;
  }
}
.slider .slider-track {
  .slider-selection {
    background: #4fe44f;
  }
  .slider-track-high {
    background: #d8474733;
  }
}

/////f0r validation errors
.validation-error {
  padding: 30px;
  box-shadow: 1px 1px 10px 2px #11111196;
  .clearfix {
    width: 100%;
    display: block;
    .fa-exclamation-triangle {
      font-size: 2rem;
    }
    ul.float-left li {
      &:before {
        position: relative;
        content: "✓";
        width: 22px;
      }
      display: flex;
      justify-content: flex-start;
    }
    .btn-danger {
      color: #fff;
    }
  }
}
